.form-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        background-color: #1f1e1e;
        padding: 30px 60px;
        border-radius: 32px 0;
        box-shadow: 0 0 32px #050505;

        .title {
            text-align: center;
            margin-top: 0;
            margin-bottom: 4px;
            font-size: 20px;
            color: #DBA90D;
        }
    
        .form-input {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: none;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .btn{ 
            text-align: center;

            .btn-submit{
                width: 128px;
                text-align: center;
            }
        }
    }
}

