.data-list {
  margin: 20px 80px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 800px;
  padding: 16px;
  font-family: sans-serif;
  border-radius: 8px;
  box-shadow: 0 0 32px #050505;

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    th {
      text-align: left;
    }
  }

  p {
    font-style: italic;
    color: #888;
  }
}
