.data-list {
  margin: 20px 80px;
  background-color: #000852d7;
  width: 800px;
  padding: 16px;
  font-family: sans-serif;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 32px #050505;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-table {
    font-size: 18px;
    padding-bottom: 10px;
    font-family: 'Star Wars', sans-serif;
    color: #DBA90D;
    text-align: center;
  }

  .persons-table {
    width: 100%;    
    border-collapse: collapse;

    .item {
      background-color: #000438;
    }
    
    .item-info {
      padding: 10px 0 10px 10px;
      opacity: 60%;
      transition: 0.3s;
    }

    .item-title {
      padding: 10px 0 10px 10px;
      text-align: left;
      color: #DBA90D;
      background-color: #2b3ac5;
    }

    .item-delete {
      max-width: 8px;
      color: #c52b2b;
      text-align: center;
      transition: 0.3s;
    }

    .item-delete:hover {
      cursor: pointer;
      opacity: 75%;
    }

    .item-edit {
      max-width: 8px;
      color: #00ff55;
      text-align: center;
      transition: 0.3s;
    }

    .item-edit:hover {
      cursor: pointer;
      opacity: 75%;
    }

    .item:nth-child(even) {
      background-color: #000225;
    }

    .item-info:hover {
      cursor: pointer;
      opacity: 100%;
    }
  }

  .not-found {
    font-style: italic;
    color: #888;
  }

  .btn {
    font-family: 'Star Wars', sans-serif;
    padding: 15px 20px;
    margin-top: 16px;
    color: #1f1e1e;
    background-color: #DBA90D;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 11px;
    transition: 0.4s;
  }
  
  .btn:hover {
    background-color: #FFC929;
  }
}